extends layouts/default

block vars
	-
		const page = {
		title: 'Main page',
		class: 'main_page'
		};

block main
	div(id='fullpage')
		.section(data-section-id="1")
			//- .fp-bg
			include blocks/_development
		.section(data-section-id="2")
			//- .fp-bg
			include blocks/_services
		.section(data-section-id="3")
			//- .fp-bg
			include blocks/_clients
		.section(data-section-id="4")
			//- .fp-bg
			include blocks/_stages
		.section(data-section-id="5")
			//- .fp-bg
			include blocks/_confident
		.section(data-section-id="6")
			//- .fp-bg
			include blocks/_results
		.section(data-section-id="7")
			//- .fp-bg
			include blocks/_havystages
		.section(data-section-id="8")
			//- .fp-bg
			include blocks/_allstages
		.section(data-section-id="9")
			//- .fp-bg
			include blocks/_partners
		.section(data-section-id="10")
			//- .fp-bg
			include blocks/_forms