.clients {
  background-color: #13161f;

  &__content {
    max-width: vw(648);
    margin-left: auto;

    .title {
      margin-bottom: vw(80);
      transform: translateX(100vw);
    }
  }

  &__item {
    color: #fff;
    transform: translateX(100vw);

    &:nth-child(2) {
      transition: 0.2s transform 0.5s;
    }

    &:nth-child(3) {
      transition: 0.3s transform 0.5s;
    }

    &:nth-child(4) {
      transition: 0.4s transform 0.5s;
    }

    &:nth-child(5) {
      transition: 0.5s transform 0.5s;
    }

    & + & {
      margin-top: vw(48);
    }
  }
}
