.confident {
  position: relative;
  background: #090833;
  overflow: hidden;

  .container {
    @media screen and (max-height: 412px) {
      z-index: 2;
    }
  }

  &:before {
    @include pseudo;
    width: vw(735);
    height: vw(466);
    left: vw(77);
    bottom: vw(91);
    background: center / cover url('../images/confident-before.png') no-repeat;

    @include mq('tablet') {
      display: none;
    }
  }

  &:after {
    @include pseudo;
    width: vw(1179);
    height: vw(865);
    top: 50%;
    right: vw(-610);
    transform: translateY(-50%);
    background: center / cover url('../images/confident-after.png') no-repeat;

    @include mq('tablet') {
      width: vwm(616);
      height: vwm(452);
      right: vwm(-171);
    }
  }

  .title {
    font-size: vw(45);
    margin-bottom: vw(58);

    @include mq('tablet') {
      font-size: vwm(20);
      margin-bottom: vwm(30);
    }
  }

  &__content {
    max-width: vw(962);

    @include mq('tablet') {
      position: relative;
      max-width: none;
      z-index: 2;
    }
  }

  &__slider {
    @include mq('tablet') {
      width: 100vw;
      margin-left: -15px;
    }
  }

  &__item {
    display: block;
    font-weight: 400;
    font-size: vw(22);
    line-height: 150%;
    color: #ffffff;
    transform: translateX(-100vw);

    &-wrapper {
      & + & {
        margin-top: vw(20);

        @include mq('tablet') {
          margin-top: 0;
        }
      }
    }

    svg {
      display: none;
    }

    &:nth-child(2) {
      transition: 0s transform 0.2s;
    }

    &:nth-child(3) {
      transition: 0.1s transform 0.2s;
    }

    &:nth-child(4) {
      transition: 0.2s transform 0.2s;
    }

    &:nth-child(5) {
      transition: 0.3s transform 0.2s;
    }

    &:nth-child(6) {
      transition: 0.4s transform 0.2s;
    }

    @include mq('tablet') {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: vwm(249);
      margin: 0 vwm(10);
      background: rgba(9, 8, 51, 0.82);
      min-height: vwm(200);
      padding: vwm(16) vwm(40) vwm(16) vwm(16);
      font-size: vwm(14);
      font-weight: 600;

      svg {
        position: absolute;
        z-index: 2;
        right: vwm(16);
        bottom: vwm(16);
        display: block;
        width: vwm(20);
        height: vwm(28);
        cursor: pointer;
      }
    }
  }
}
