.forms {
  background: #3e00d0;

  @include mq('tablet') {
    height: 100%;
  }

  .container {
    @media screen and (max-height: 412px) {
      transform: scale(0.8);
    }
  }

  .title {
    margin-bottom: vw(72);
    font-size: vw(45);
    line-height: 150%;
    color: #ffffff;
    white-space: nowrap;

    @include mq('tablet') {
      font-size: vwm(20);
      margin-bottom: vwm(40);
    }
  }

  &__wrapper {
    width: 100%;
    padding-right: vw(10);

    @include mq('tablet') {
      padding-right: 0;
      padding: vwm(98) 0 vwm(102);
      height: 100%;
      box-sizing: content-box;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__row {
    width: calc(50% - 7.6vw / 2);
    margin-bottom: vw(-56);

    @include mq('tablet') {
      width: 100%;
    }
  }

  &__label {
    display: block;
    position: relative;
    width: 100%;
    border-bottom: vw(2) solid #fff;
    margin-bottom: vw(56);

    @include mq('tablet') {
      border-bottom: vwm(1) solid #fff;
      margin-bottom: vwm(32);
    }

    &.active {
      .forms__placeholder {
        top: vw(-27);
        left: 0;
        font-weight: 450;
        font-size: vw(16);

        @include mq('tablet') {
          top: vwm(-10);
          font-size: vwm(10);
        }
      }
    }
  }

  &__input,
  &__textarea {
    display: block;
    border-radius: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: vw(41);
    outline: none;
    background-color: transparent;
    appearance: none;
    box-shadow: none;
    border: none;
    font-weight: 450;
    font-size: vw(22);
    line-height: 135%;
    color: #ffffff;

    @include mq('tablet') {
      height: vwm(28);
      font-size: vwm(14);
    }
  }

  &__textarea {
    resize: none;
    height: vw(196);
    padding: vw(18) vw(24);

    @include mq('tablet') {
      height: vwm(136);
      padding: vwm(12) vwm(16);
    }

    &-wrapper {
      margin-top: vw(43);
      border: vw(2) solid #fff;
      margin-bottom: 0;

      @include mq('tablet') {
        margin-top: vwm(28);
        border: vwm(2) solid #fff;

        &.active {
          .forms__placeholder {
            top: vwm(-20);
          }
        }
      }

      .forms__placeholder {
        top: vw(18);
        left: vw(24);

        @include mq('tablet') {
          top: vwm(12);
          left: vwm(16);
        }
      }
    }
  }

  &__placeholder {
    position: absolute;
    top: vw(4);
    font-weight: 450;
    font-size: vw(22);
    line-height: 135%;
    color: rgba(255, 255, 255, 0.35);
    transition: all 0.2s linear;

    @include mq('tablet') {
      font-size: vwm(14);
    }
  }

  &__label-file {
    background: 103% center / vw(48) vw(48) url(../images/svg/sprite.svg#downloads) no-repeat;
    input {
      opacity: 0;
    }

    @include mq('tablet') {
      background: 103% center / vwm(48) vwm(48) url(../images/svg/sprite.svg#downloads) no-repeat;
    }
  }

  &__file-name {
    top: 0;
    position: absolute;
    height: vw(41);
    font-weight: 450;
    font-size: vw(22);
    line-height: 135%;
    color: #ffffff;

    @include mq('tablet') {
      height: vwm(28);
      font-size: vwm(14);
    }
  }

  &__disclamer-files {
    position: absolute;
    right: 0;
    top: calc(100% + 0.41vw);
    display: block;
    font-style: italic;
    font-weight: normal;
    font-size: vw(16);
    line-height: 135%;
    text-align: right;
    color: rgba(255, 255, 255, 0.35);

    @include mq('tablet') {
      top: calc(100% + 2.5vw);
      font-size: vwm(10);
    }
  }

  &__submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: vw(46);

    @include mq('tablet') {
      margin-top: vwm(24);
      display: block;
    }
  }

  &__capcha {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: vw(258);
    height: vw(76);

    .g-recaptcha {
      position: absolute;
      @include сentering-xy;

      &,
      & div {
        overflow: hidden;
        max-width: 100%;
        max-height: 100%;
      }
      & iframe,
      body > div[style]:last-of-type {
        transform: scale(0.75);
        transform-origin: left top;

        @include mq('tablet') {
          transform: scale(1);
        }
      }
    }

    @include mq('tablet') {
      width: vwm(304);
      max-width: 100%;
      height: vwm(76);
    }

    // &:before {
    //   @include pseudo;
    //   right: vw(13);
    //   top: vw(11);
    //   width: vw(56);
    //   height: vw(57);
    //   background: center / cover url(../images/recapcha.png) no-repeat;

    //   @include mq('tablet') {
    //     right: vwm(13);
    //     top: vwm(11);
    //     width: vwm(56);
    //     height: vwm(57);
    //   }
    // }

    &-label {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: vw(28);
      height: vw(28);
      cursor: pointer;

      @include mq('tablet') {
        width: vwm(28);
        height: vwm(28);
      }

      input {
        display: none;

        & ~ b {
          display: block;
          width: vw(28);
          height: vw(28);
          background: #ffffff;
          border: vw(2) solid #c1c1c1;
          box-sizing: border-box;
          border-radius: vw(2);

          @include mq('tablet') {
            width: vwm(28);
            height: vwm(28);
            border: vwm(2) solid #c1c1c1;
            border-radius: vwm(2);
          }
        }

        &:checked ~ b {
          &:before {
            @include pseudo;
            @include сentering-xy;
            width: vw(20);
            height: vw(20);
            background: center / cover url(../images/svg/sprite.svg#check) no-repeat;

            @include mq('tablet') {
              width: vwm(20);
              height: vwm(20);
            }
          }
        }
      }
    }

    &-text {
      display: block;
      padding-left: vw(12);
      font-weight: normal;
      font-size: vw(14);
      line-height: vw(16);
      color: #000000;

      @include mq('tablet') {
        padding-left: vwm(12);
        font-size: vwm(14);
        line-height: vwm(16);
      }
    }
  }

  &__submit-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;

    @include mq('tablet') {
      margin: vwm(24) auto 0;
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    span {
      display: block;
      margin-right: vw(24);
      font-weight: 600;
      font-size: vw(25);
      line-height: 150%;
      color: #ffffff;

      @include mq('tablet') {
        font-size: vwm(18);
        margin-right: vwm(16);
      }
    }

    svg {
      display: block;
      width: vw(55);
      height: vw(22);

      @include mq('tablet') {
        width: vwm(23);
        height: vwm(16);
      }
    }
  }

  &__desc {
    position: absolute;
    bottom: vw(68);
    display: block;
    font-weight: 450;
    font-size: vw(18);
    line-height: 180%;
    color: #ffffff;

    @include mq('tablet') {
      left: 50% !important;
      @include сentering-x;
      display: flex;
      justify-content: center;
      align-items: center;
      height: vwm(45);
      bottom: 0;
      width: 100%;
      border-top: vwm(1) solid rgba(255, 255, 255, 0.17);
      font-weight: 400;
      font-size: vwm(12);
      line-height: 180%;

      span {
        display: none;
      }
    }
  }
}
