.havystages {
  position: relative;
  background-color: #081529;
  @include mq('tablet') {
    background-position: 65% 50%;
  }

  .title {
    padding-bottom: vw(74);

    @include mq('tablet') {
      padding-bottom: 0;
      font-size: vwm(20);
      margin-bottom: vwm(24);
    }
  }

  &__content {
    &-wrapper-hide {
      max-width: vw(648);
      margin-left: auto;
      overflow: hidden;

      @include mq('tablet') {
        max-width: none;

        &:before {
          @include pseudo;
          z-index: 2;
          left: 0;
          bottom: 0;
          height: vwm(192);
          width: 100%;
          background: linear-gradient(180deg, #0c1221 75.26%, rgba(11, 18, 32, 0) 107.29%);
          transform: rotate(-180deg);
          transition: 0.2s linear;
        }

        &.active {
          &:before {
            opacity: 0;
          }
        }
      }
    }

    @include mq('tablet') {
      max-width: none;
      padding-right: vwm(31);
      height: vwm(210);
    }

    &-wrapper {
      @include mq('tablet') {
        overflow-y: auto;
        overflow-x: hidden;
        margin-right: -17px;
      }
    }
  }

  &__item {
    display: block;
    font-weight: 500;
    font-size: vw(22);
    line-height: 180%;
    color: #ffffff;
    transform: translateX(100vw);

    @include mq('tablet') {
      font-size: vwm(12);
    }

    &:nth-child(1) {
      transition: 0s transform 0.2s;
    }

    &:nth-child(2) {
      transition: 0.1s transform 0.2s;
    }

    & + & {
      margin-top: vw(30);
    }
  }
}
