.logo-btn {
  position: fixed;
  z-index: 99;
  top: vw(56);
  width: vw(253);
  height: vw(43);
  text-decoration: none;

  @include mq('tablet') {
    width: vwm(128);
    height: vwm(26);
    top: vwm(32);
  }

  @media screen and (max-height: 412px) {
    top: vwm(10);
    transform: scale(0.5);
  }

  svg {
    display: block;
    display: block;
    width: 100%;
    height: 100%;

    path {
      transition: 0.2s linear;
      fill: #0000ff;

      &:first-child {
        fill: #fff;
      }
    }

    &.index0 {
      path {
        fill: #0000ff;

        &:first-child {
          fill: #fff;
        }
      }
    }

    &.index1 {
      path {
        fill: #0000ff;

        &:first-child {
          fill: #13161f;
        }
      }
    }

    &.index2 {
      path {
        fill: #fff;

        &:first-child {
          fill: #fff;
        }
      }
    }
  }
}

.to-top-btn {
  position: fixed;
  z-index: 99;
  bottom: vw(91);
  display: block;
  transition: 0.2s linear;

  // @media screen and(max-height:767px) and (orientation: landscape) {
  //   opacity: 0;
  // }

  svg {
    display: block;
    --fill: #ffffff;

    &:first-child {
      width: vw(36);
      height: vw(56);
      margin-bottom: vw(16);
    }

    &:nth-child(2) {
      width: vw(16);
      height: vw(26);
      margin: 0 auto;
      animation: 1s ease-in-out 0s infinite mouseArrowAnim;
    }

    &:nth-child(3) {
      display: none;
    }
  }

  &.dark {
    svg {
      --fill: rgba(66, 71, 84, 0.38);
    }
  }

  &.hide {
    opacity: 0;
  }

  @include mq('tablet') {
    bottom: vwm(41);
    svg {
      &:nth-child(1),
      &:nth-child(2) {
        display: none;
      }

      &:nth-child(3) {
        display: block;
        width: vwm(28);
        height: vwm(48);
      }
    }
  }

  @media screen and (max-height: 412px) {
    bottom: vwm(5);
    transform: scale(0.5);
  }
}

@keyframes mouseArrowAnim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.message-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto 0;
  width: vw(46);
  height: vw(46);
  border-radius: 50%;
  background: #0000ff;
  flex-shrink: 0;

  svg {
    display: block;
    width: vw(24);
    height: vw(24);
  }

  @include mq('tablet') {
    width: vwm(32);
    height: vwm(32);
    margin: 0 auto;

    svg {
      width: vwm(16);
      height: vwm(16);
    }
  }
}

.header {
  position: absolute;
  top: 0;
  z-index: 99;
  background: #191d26;
  width: vw(70);
  height: calc(100vh - 53px);
  // height: calc(var(--vh, 1vh) * 100 - 53px);
  height: calc(var(--vh, 1vh) * 100);
  padding: 0 0 vw(65);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media screen and (max-width: 1800px) {
    right: 0 !important;
  }

  // @media screen and(max-height:767px) and (orientation: landscape) {
  //   opacity: 0;
  // }

  @include mq('tablet') {
    width: vwm(46);
    padding: 0 0 vwm(41);
  }

  @media screen and (max-height: 412px) {
    display: none;
  }

  &__pic {
    position: absolute;
    background: #0000ff;
    top: vw(-43);
    right: calc(100% + 2.08vw);
    padding: vw(40);
    width: vw(451);
    display: none;

    &:hover {
      display: block;
    }

    &:after {
      @include pseudo;
      height: 100%;
      width: 2.08vw;
      left: 100%;
      top: 0;
    }

    &:before {
      top: vw(31);
      left: calc(100% - 0.41vw);
      @include css-triangle(#0000ff, right, 28px);
    }

    &-title {
      display: block;
      font-weight: 500;
      font-size: vw(30);
      line-height: 150%;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: vw(27);
    }

    &-list {
      display: block;
    }

    &-item {
      display: block;
      position: relative;
      font-weight: 500;
      font-size: vw(22);
      line-height: 150%;
      color: #ffffff;
      padding-left: vw(21);

      &:before {
        @include pseudo;
        left: 0;
        @include сentering-y;
        width: vw(8);
        height: vw(8);
        border-radius: 50%;
        background-color: #fff;
      }

      & + & {
        margin-top: vw(15);
      }
    }
  }

  &__title {
    width: 100%;

    img {
      display: block;
      width: 100%;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: auto 0;
  }

  &__item {
    position: relative;
    width: 100%;
    margin: vw(23) auto;
    flex-shrink: 0;

    &:hover {
      .header__pic {
        display: block;
      }
    }

    @include mq('tablet') {
      margin: vwm(15) auto;
    }
  }

  &__link {
    display: block;
    width: vw(32);
    height: vw(32);
    margin: 0 auto;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }

    @include mq('tablet') {
      width: vwm(20);
      height: vwm(20);
    }
  }

  @include mq('tablet') {
    transition: opacity 0.2s linear;
    &.hide {
      opacity: 0;
    }
  }
}
