.partners {
  background-color: #fff;

  .title {
    font-size: vw(45);
    margin-bottom: vw(87);
    white-space: nowrap;
    color: #13161f;

    @include mq('tablet-wide') {
      font-size: vwm(20);
      margin-bottom: vwm(40);
    }
  }

  &_content {
    width: 100%;
    padding-right: vw(10);

    @include mq('tablet-wide') {
      padding-right: 0;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: vw(-90);
    margin-left: vw(-75);

    @include mq('tablet-wide') {
      margin-left: 0;
      margin-bottom: vwm(-30);
    }
  }

  &__item {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: vw(90);

    @include mq('tablet-wide') {
      margin-bottom: vwm(30);
      width: 50%;
    }

    &:nth-child(1) {
      svg,
      img {
        display: block;
        width: vw(178);
        height: vw(56);

        @include mq('tablet-wide') {
          width: vwm(83);
          height: vwm(26);
        }
      }
    }

    &:nth-child(2) {
      svg,
      img {
        display: block;
        width: vw(118);
        height: vw(53);

        @include mq('tablet-wide') {
          width: vwm(40);
          height: vwm(18);
        }
      }
    }

    &:nth-child(3) {
      svg,
      img {
        display: block;
        width: vw(68);
        height: vw(94);

        @include mq('tablet-wide') {
          width: vwm(27);
          height: vwm(37);
        }
      }
    }

    &:nth-child(4) {
      svg,
      img {
        display: block;
        width: vw(181);
        height: vw(56);

        @include mq('tablet-wide') {
          width: vwm(71);
          height: vwm(23);
        }
      }
    }

    &:nth-child(5) {
      svg,
      img {
        display: block;
        width: vw(192);
        height: vw(28);

        @include mq('tablet-wide') {
          width: vwm(85);
          height: vwm(13);
        }
      }
    }

    &:nth-child(6) {
      svg,
      img {
        display: block;
        width: vw(186);
        height: vw(20);

        @include mq('tablet-wide') {
          width: vwm(72);
          height: vwm(7);
        }
      }
    }

    &:nth-child(7) {
      svg,
      img {
        display: block;
        width: vw(42);
        height: vw(88);

        @include mq('tablet-wide') {
          width: vwm(20);
          height: vwm(42);
        }
      }
    }

    &:nth-child(8) {
      svg,
      img {
        display: block;
        width: vw(216);
        height: vw(58);

        @include mq('tablet-wide') {
          width: vwm(74);
          height: vwm(20);
        }
      }
    }

    &:nth-child(9) {
      svg,
      img {
        display: block;
        width: vw(137);
        height: vw(64);

        @include mq('tablet-wide') {
          width: vwm(60);
          height: vwm(29);
        }
      }
    }

    &:nth-child(10) {
      svg,
      img {
        display: block;
        width: vw(169);
        height: vw(61);

        @include mq('tablet-wide') {
          width: vwm(60);
          height: vwm(22);
        }
      }
    }
  }
}
