.stages {
  background: #0000ff;

  .slick-arrow {
    opacity: 0 !important;
  }

  .title {
    font-weight: 700;
    font-size: vw(45);
    line-height: 150%;

    @include mq('tablet') {
      font-size: vwm(20);
      margin-bottom: vwm(16);
    }
  }

  &__slider {
    &-wrapper {
      height: vw(688);
      overflow: auto;
      margin-right: -17px;

      @include mq('tablet') {
        height: vwm(274);
      }

      &-hide {
        position: relative;
        overflow: hidden;
        height: vw(688);
        margin-left: auto;

        @include mq('tablet') {
          height: vwm(274);
        }

        &.active {
          &:before {
            opacity: 1;
          }

          &:after {
            opacity: 0;
          }
        }

        &:before,
        &:after {
          @include pseudo;
          width: 100%;
          height: vw(183);
          left: 0;
          z-index: 2;
          transition: 0.2s linear;

          @include mq('tablet') {
            height: vwm(63);
          }
        }

        &:before {
          top: 0;
          background: linear-gradient(180deg, #0000ff 0%, rgba(0, 0, 255, 0) 100%);
          opacity: 0;
        }

        &:after {
          bottom: 0;
          background: linear-gradient(180deg, rgba(0, 0, 255, 0) 0%, #0000ff 100%);
        }
      }
    }
    position: relative;
    width: vw(670);

    @include mq('tablet') {
      width: 100%;
      padding-right: vwm(31);
    }
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: vw(60);
    opacity: 0;

    @include mq('tablet') {
      height: vwm(34);
    }

    &:nth-child(1) {
      transition: opacity 0.3s;
    }

    &:nth-child(2) {
      transition: opacity 0.5s;
    }

    &:nth-child(3) {
      transition: opacity 0.7s;
    }

    &:nth-child(4) {
      transition: opacity 0.9s;
    }

    &:nth-child(5) {
      transition: opacity 1.1s;
    }

    &:nth-child(6) {
      transition: opacity 1.3s;
    }

    &:nth-child(7) {
      transition: opacity 1.5s;
    }

    &:nth-child(8) {
      transition: opacity 1.7s;
    }

    &:nth-child(9) {
      transition: opacity 1.9s;
    }

    &:nth-child(10) {
      transition: opacity 2.1s;
    }

    svg {
      display: block;
      width: vw(40);
      height: vw(40);
      margin-right: vw(24);
      flex-shrink: 0;

      @include mq('tablet') {
        width: vwm(24);
        height: vwm(24);
        margin-right: vwm(12);
      }
    }

    p {
      display: block;
      font-weight: 500;
      line-height: 135%;
      color: #ffffff;

      @include mq('tablet') {
        font-size: vwm(14);
      }
    }

    &-wrapper {
      padding: vw(14) 0;

      @include mq('tablet') {
        padding: vwm(10);
      }
    }
  }
}
