body {
  @include font-source-sans(1.3vw, #ffffff, 400, false);

  &.hidden {
    overflow: hidden !important;
  }

  @include mq('tablet') {
    font-size: vwm(12);
  }
}

* {
  font-family: 'Avenir Next Cyr', Helvetica, Arial, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;

  -webkit-locale: auto;
  white-space: normal;
}

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html,
body {
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 0px; /* ширина для вертикального скролла */
  }
}
.wrapper {
  @media screen and (max-device-width: 812px) and (orientation: landscape) {
    position: relative;
    max-width: 506px;
    margin: 0 auto;
  }
}
.section-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  // @media screen and(max-height:767px) and (orientation: landscape) {
  //   height: 100%;

  //   .container {
  //     padding: vwm(20) 0;
  //   }
  // }

  @media screen and (max-device-width: 812px) and (orientation: landscape) {
    max-width: 506px;
    margin: 0 auto;
  }
}

.section {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  overflow: hidden;

  // @media screen and(max-height:767px) and (orientation: landscape) {
  //   position: relative;
  //   top: auto;
  // }

  @include mq('tablet') {
  }
}

.container {
  width: calc(100% - 30px);
  max-width: vw(1240);
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include mq('tablet') {
    max-width: none;
    width: calc(100vw - 30px);
    display: block;
  }

  // @media screen and (max-height: 412px) {
  //   transform: scale(0.5);
  // }
}

.nowrap {
  white-space: nowrap;
}

.animate-0 {
  .development {
    .title {
      transform: translateX(0);
    }
  }
}

.animate-1 {
  .services {
    .title {
      transform: translateX(0);
    }
  }
  .services__item {
    transform: translateX(0);
  }
}

.animate-2 {
  .clients {
    .title {
      transform: translateX(0);
    }
  }
  .clients__item {
    transform: translateX(0);
  }
}

.animate-4 {
  .stages {
    .title {
      transform: translateX(0);
    }
  }

  .stages__item {
    opacity: 1;
  }
}

.animate-5 {
  .confident {
    .title {
      transform: translateX(0);
    }
  }

  .confident__slider {
    transform: translateX(0);
  }
}

.animate-6 {
  .results {
    .title {
      transform: translateX(0);
    }
  }

  .results__item,
  .results__desc {
    transform: translateX(0);
  }
}

.animate-7 {
  .havystages {
    .title {
      transform: translateX(0);
    }
  }

  .havystages__item {
    transform: translateX(0);
  }
}

.animate-8 {
  .allstages__item {
    transform: translateX(0);
  }
}

.animate-9 {
  .partners {
    .title {
      transform: translateX(0);
    }

    &__wrapper {
      transform: translateX(0);
    }
  }
}

.animate-10 {
  .forms {
    .title {
      transform: translateX(0);
    }
  }
}

.animate-3 {
  .industries {
    .title {
      transform: translateX(0);
    }

    &-item {
      transform: translateX(0);
    }
  }
}
