.allstages.section-wrapper
    .container 
        .allstages__wrapper
            .allstages__item
                .allstages__heading 
                    .allstages__title Высокий профессионализм
                    .allstages__burger
                        span 
                        span
                
                .allstages__content
                    .allstages__desc Опыт более 20 лет в области разработки, произведены сотни устройств самого разного уровня сложности.
                    .allstages__desc Разрабатываем и аппаратные решения, и сопутствующее ПО.
            .allstages__item
                .allstages__heading 
                    .allstages__title Глубокая экспертиза
                    .allstages__burger
                        span 
                        span
                
                .allstages__content
                    .allstages__desc Четкое финансовое планирование разработки, зафиксированное в договоре.
                    .allstages__desc Внимательность к соблюдению сроков, до 80% проектов мы сдаем досрочно.

            .allstages__item
                .allstages__heading  
                    .allstages__title Уважение и доверие
                    .allstages__burger
                        span 
                        span
                
                .allstages__content
                    .allstages__desc Высоко ценим интеллектуальную собственность заказчика. 
                    .allstages__desc Готовы работать с неформализованными требованиями и помочь заказчику описать технически задачу.