.allstages.section-wrapper(style="background-image:url(assets/images/allstages-bg.png)")
    .container 
        .allstages__wrapper
            .allstages__item
                .allstages__heading 
                    .allstages__title Высокий профессионализм
                    .allstages__burger
                        span 
                        span
                
                .allstages__content
                    .allstages__desc Профессиональный ИТ консалтинг в рамках разработки, основанный #[span(class="nowrap") на многолетнем] опыте.
                    .allstages__desc Опыт более 20 лет в области разработки, произведены сотни устройств самого разного уровня сложности.
            
            .allstages__item
                .allstages__heading 
                    .allstages__title Глубокая экспертиза
                    .allstages__burger
                        span 
                        span
                
                .allstages__content
                    .allstages__desc Профессиональный ИТ консалтинг в рамках разработки, основанный #[span(class="nowrap") на многолетнем] опыте.
                    .allstages__desc Опыт более 20 лет в области разработки, произведены сотни устройств самого разного уровня сложности.
            
            .allstages__item
                .allstages__heading  
                    .allstages__title Уважение и доверие
                    .allstages__burger
                        span 
                        span
                
                .allstages__content
                    .allstages__desc Профессиональный ИТ консалтинг в рамках разработки, основанный #[span(class="nowrap") на многолетнем] опыте.
                    .allstages__desc Опыт более 20 лет в области разработки, произведены сотни устройств самого разного уровня сложности.