.clients.section-wrapper(style="background-image:url(assets/images/clients-bg.png)")
    .container
        .clients__content
            +title('наши клиенты')
            p.clients__item Производственные компании, которым необходимо автоматизировать процессы или сократить затраты.
            p.clients__item Предприятия, которым нужно найти альтернативу дорогостоящим решениям или продуктам, ввоз которых в РФ ограничен.
            p.clients__item Стартапы и изобретатели.
            p.clients__item Системные интеграторы, столкнувшиеся с нестандартными задачами.