.confident.section-wrapper
    .container
        .confident__content 
            +title('конфиденциальность')
            .confident__slider
                .confident__item-wrapper
                    p.confident__item Заключаем соглашения о неразглашении.
                        +svg('mobile-slider-btn')
                .confident__item-wrapper
                    p.confident__item Конфиденциальность защищает не только продукт разработки, но и любые идеи Заказчика.
                .confident__item-wrapper
                    p.confident__item Если мы уже участвуем в разработке, которая может быть расценена для Заказчика как конкурентная, об этом Заказчик сразу информируется.
                .confident__item-wrapper
                    p.confident__item Никакие сформированные и переданные технические решения, сделанные для одного Заказчика, не используются в других конкурентных проектах.
                .confident__item-wrapper
                    p.confident__item Если у нас есть ограничения прошлых или текущих проектов, которые влияют на проект нового Заказчика, мы не заключаем контракт и советуем обратиться в иные компании.