.forms.section-wrapper 
    .container 
        .forms__wrapper 
            +title('обсудим ваш проект?')

            form.forms__content( onsubmit="send(event, 'assets/php/form1.php')" enctype="multipart/form-data" method="post" id="form1" name="call-form")
                .forms__row
                    label.forms__label
                        span.forms__placeholder Ваше имя
                        input.forms__input(type="text", name="name", required, autocomplete="off")

                    label.forms__label
                        span.forms__placeholder Email
                        input.forms__input(type="email", name="mail", required, autocomplete="off")

                    label.forms__label
                        span.forms__placeholder Номер телефона
                        input.forms__input(type="text", name="phone", required, autocomplete="off")

                    label.forms__label.forms__label-file
                        span.forms__placeholder Прикрепить файл
                        input.forms__input(type="file", name="file[]", id="file" multiple autocomplete="off")
                        span.forms__file-name
                        span.forms__disclamer-files Максимум 3 файла, до 8 мб. каждый
                
                .forms__row
                    label.forms__label.forms__textarea-wrapper
                        span.forms__placeholder Описание задачи
                        textarea.forms__textarea(name="text", required, autocomplete="off") 
                    .forms__submit
                        //- .forms__capcha
                        //-     div(class="g-recaptcha" data-sitekey="6LecjL0aAAAAAN8Ffw7ZqwyZH6WtjxnaxBSIzwLS")
                        //-     div(class="text-danger" id="recaptchaError")

                        button.forms__submit-btn(type="submit")
                            span Отправить
                            +svg('sumbit-arrow')
                
                input(type="hidden" name="recaptcha_response" id="recaptchaResponse") 
    
    .forms__desc © 2021 Univerum #[span(class="") - Производство электронных устройств ]