.havystages.section-wrapper(style="background-image:url(assets/images/havystages-bg.png)")
    .container
        +title('запускаем сложные проекты')
        .havystages__content
            p.havystages__item Среди наших проектов есть как стандартные решения, так и разработка высокотехнологичных решений, включающих в себя аппаратную реализацию сложных математических алгоритмов, разработку математических моделей поведения физических объектов, разработку уникальных алгоритмов для производства специализированных микросхем.
            p.havystages__item Мы работаем как с проектами, где следует изготовить одно устройство, так и с проектами, запускающими массовое производство сложных устройств в Китае, включая проектирование микросхем специального назначения – ASIC.
