a.to-top-btn#to-top-btn(href="#")
    +svg('mouse')
    +svg('mouse-arrow')
a.logo-btn#logo-btn(href="#")
    +svg('logo')

header.header
    p.header__title отрасли
    ul.header__menu
        li.header__item
            a.header__link(href="#")
                +svg('settings')
        li.header__item
            a.header__link(href="#")
                +svg('home')
        li.header__item
            a.header__link(href="#")
                +svg('heart')
        li.header__item
            a.header__link(href="#")
                +svg('signal')
        li.header__item
            a.header__link(href="#")
                +svg('cyber')
        li.header__item
            a.header__link(href="#")
                +svg('electronics')
    a.message-btn(href="#") 
        +svg('message')