.industries.section-wrapper 
    .container
        .industries-inner
            +title('отрасли')

            .industries-wrapper 
                .industries-item
                    +svg('ind1')
                    .industries-content
                        .industries-plus 
                            span 
                            span 
                        .industries-title Робототехника
                        .industries-texts
                            p.industries-text Промышленные роботы 
                            p.industries-text Роботы для складов
                            p.industries-text Автоматизированные тележки
                
                .industries-item
                    +svg('ind2')
                    .industries-content
                        .industries-plus 
                            span 
                            span 
                        .industries-title Медицина
                        .industries-texts
                            p.industries-text Измерение температуры 
                            p.industries-text Конверторы сигналов
                            p.industries-text Биотехнологии
                
                .industries-item
                    +svg('ind3')
                    .industries-content
                        .industries-plus 
                            span 
                            span 
                        .industries-title Безопасность
                        .industries-texts
                            p.industries-text Распознавание лиц 
                            p.industries-text Датчики
                            p.industries-text Видеонаблюдение
                
                .industries-item
                    +svg('ind4')
                    .industries-content
                        .industries-plus 
                            span 
                            span 
                        .industries-title Умный дом
                        .industries-texts
                            p.industries-text Контроллеры 
                            p.industries-text Системы управления
                            p.industries-text Автоматизация
                
                .industries-item
                    +svg('ind5')
                    .industries-content
                        .industries-plus 
                            span 
                            span 
                        .industries-title Спец. Техника
                        .industries-texts
                            p.industries-text Автоматизация торговли
                            p.industries-text Интерактивные системы
                            p.industries-text Аккумуляторные сборки
                
                .industries-item
                    +svg('ind6')
                    .industries-content
                        .industries-plus 
                            span 
                            span 
                        .industries-title Электроника
                        .industries-texts
                            p.industries-text Навигатор
                            p.industries-text Видеорегистраторы
                            p.industries-text Аккумуляторные сборки