.partners.section-wrapper 
    .container
        .partners__content 
            +title('наши клиенты')
        
            .partners__wrapper
                .partners__item
                    +svg('logo1')
                .partners__item
                    +svg('logo2')
                .partners__item
                    img(src="assets/images/logo3.png", alt="")
                .partners__item
                    img(src="assets/images/logo4.png", alt="")
                .partners__item
                    img(src="assets/images/logo5.png", alt="")
                .partners__item
                    +svg('logo6')
                .partners__item
                    +svg('logo7')
                .partners__item
                    img(src="assets/images/logo8.png", alt="")
                .partners__item
                    +svg('logo9')
                .partners__item
                    img(src="assets/images/logo10.png", alt="")