.results.section-wrapper
    .container
        .results__content 
            +title('результат работы')
            .results__desc Кроме самого устройства или программного кода, вы получаете:
            .results__item Полную техническую документацию на разработку.
            .results__item Документально зафиксированные ваши права на разработку.
            .results__item Все необходимое программное обеспечение.
            .results__item Документально зафиксированные ваши права на разработку.