.stages.section-wrapper
    .container 
        .title осуществляем #[span(class="nowrap") все этапы работ]

        .stages__slider 
            .stages__item-wrapper
                .stages__item
                    +svg('stages1')
                    p Консалтинг с проработкой концепции
            
            .stages__item-wrapper
                .stages__item
                    +svg('stages2')
                    p Техническое интервью с заказчиком
            
            .stages__item-wrapper
                .stages__item
                    +svg('stages3')
                    p Анализ проекта
            
            .stages__item-wrapper
                .stages__item
                    +svg('stages4')
                    p Составление технического задание на разработку 
            
            .stages__item-wrapper
                .stages__item
                    +svg('stages5')
                    p Представление оценки преимуществ и рисков
            
            .stages__item-wrapper
                .stages__item
                    +svg('stages6')
                    p Консультирование по смежным решениями
            
            .stages__item-wrapper
                .stages__item
                    +svg('stages7')
                    p Разработка схемотехники и плат
            

            .stages__item-wrapper
                .stages__item
                    +svg('stages8')
                    p Разработка программного обеспечения аппаратного и высокого уровня
            
            .stages__item-wrapper
                .stages__item
                    +svg('stages9')
                    p Консалтинг с проработкой концепции
            
            .stages__item-wrapper
                .stages__item
                    +svg('stages10')
                    p Консалтинг с проработкой концепции