doctype html

block vars
include ../components/components


html(lang="ru")
	head
		link(type="image/x-icon" rel="shortcut icon" href='assets/images/favicon.ico')
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="robots" content="noindex, nofollow")
		meta(name="description" content="Разработка электронных устройств")
		meta(name="format-detection" content="telephone=no")
		link(href="assets/css/main.css" rel="stylesheet")
		title= `${page.title}`

	body
		.wrapper(class=page.class)
			block header
				include ../blocks/_header

			main.main
				block main

			block footer
				include ../blocks/_footer
			
			block popups 
				include ../blocks/_popups

			block scripts
				script(src='https://www.google.com/recaptcha/api.js')
				script(src="assets/js/main.js")
